/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  background-color:#f1f3f6;
  margin: 0;
}

.navbar {
  background-color:#7bbacf;
  color: #f1f3f6;
}

p {
  color : #424242;
}

h1 {

}

h2 {

}

h3 {

}

.button{

}

.small-butoon {

}