/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  font-family: 'DM Sans';
  background-color:#f1f3f6;
  margin: 0;
}

.navbar {
  background-color:#7bbacf;
  color: #f1f3f6;
}

p {
  font-size: 1em;
  color : #424242;
}

h1 {
  font-size: 3em;
  color : #9bba47;
}

h2 {
  font-size: 1.5em;
  color : #7bbacf;
}

h3 {
  font-size: 1.5em;
  color : #9bba47;
}

.button{
  color :#f1f3f6;
  background-color: #7bbacf;
}

.small-button {
  color :#f1f3f6;
  background-color: #9bba47;
}

.small-card {
  overflow-y: auto;
}