{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row">

      <div class="col-sm-12">
          <h1>Tambah Mata Kuliah</h1>
      </div>


      <div class="col col-sm-6">
        <div class="card" style="overflow-y: auto;">
          <div class="card-body">
            <form action="{% url 'main:savematkul' %}" method="POST">
              {% csrf_token %}
              {{ MataKuliah_Form.as_p}} 
              <input class="submit button" type="submit" value="Submit">
            </form>  
          </div>
        </div> 
      </div>


      <div class="col col-sm-6">
        {% if matkul %}
          {% for i in matkul %}
            <div class="card" style="overflow: auto;">
              <div class = "card-body">
                <h2>{{ i.nama }}</h2>
                <table class="table-borderless">
                  <tbody>
                    <tr>
                      <th scope="row">Dosen</th>
                      <td></td>
                      <td>{{ i.dosen }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Deskripsi</th>
                      <td></td>
                      <td>{{ i.deskripsi }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Semester</th>
                      <td></td>
                      <td>{{ i.semester }} {{ i.tahun_ajar }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Tugas</th>
                      <td></td>
                      <td>
                        <ul>
                          {% for j in i.tugas_set.all %}
                          <li>
                            {{ j.name}} - Deadline: {{j.deadline}}
                          </li>
                          {% endfor %}
                        </ul>
                        <form action="{% url 'main:savetugas' pk=i.id %}" method="POST">
                          {% csrf_token %}
                          <ul style="display: inline;">{{ Tugas_Form.as_ul }}</ul>
                          <button class="submit small-button" type="submit">Tambah</button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>


  </div>
</div>

{% endblock content %}
